@model List<Articulo>
@{
    ViewData["Title"] = "Cursos";
}

<div class="p-4">
    <h4 class="text-success mt-2">Cursos</h4>
    <hr />
</div>

<div class="d-flex p-4">
    <div class="col col-lg-9">
        <div id="divCurso1"></div>
        <input type="hidden" id="txtCurso1" value="@Model[0].Texto" />
        <button class="btn btn-outline-success w-100" onclick="agregar(@Model[0].Precio, '@Model[0].Nombre', @Model[0].ArticuloId)">Añadir al carrito</button>
    </div>
    <div class="col col-lg-3 mt-7">
        <img src="@Model[0].Url" alt="@Model[0].Nombre" class="w-100 mt-5" />
    </div>
</div>
<div class="d-flex p-4">
    <div class="col col-lg-9">
        <div id="divCurso2"></div>
        <input type="hidden" id="txtCurso2" value="@Model[1].Texto" />
        <button class="btn btn-outline-success w-100" onclick="agregar(@Model[1].Precio, '@Model[1].Nombre', @Model[1].ArticuloId)">Añadir al carrito</button>
    </div>
    <div class="col col-lg-3 mt-7">
        <img src="@Model[1].Url" alt="@Model[1].Nombre" class="w-100 mt-5" />
    </div>
</div>
<div class="d-flex p-4 mb-4">
    <div class="col col-lg-9">
        <div id="divCurso3"></div>
        <input type="hidden" id="txtCurso3" value="@Model[2].Texto" />
        <button class="btn btn-outline-success w-100" onclick="agregar(@Model[2].Precio, '@Model[2].Nombre', @Model[2].ArticuloId)">Añadir al carrito</button>
    </div>
    <div class="col col-lg-3 mt-7">
        <img src="@Model[2].Url" alt="@Model[2].Nombre" class="w-100 mt-5" />
    </div>
</div>
</br>
@section scripts{
    <script>
        $(document).ready(function (){

            let textoCurso1 = document.getElementById("txtCurso1").value;
            let divCurso1 = document.getElementById("divCurso1");
            divCurso1.innerHTML = textoCurso1;

            let textoCurso2 = document.getElementById("txtCurso2").value;
            let divCurso2 = document.getElementById("divCurso2");
            divCurso2.innerHTML = textoCurso2;

            let textoCurso3 = document.getElementById("txtCurso3").value;
            let divCurso3 = document.getElementById("divCurso3");
            divCurso3.innerHTML = textoCurso3;
        });
    </script>
    
}

